{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <style>
        .amndando {
            border: 2px solid black;
            animation: move_up 10s linear infinite;
        }
        @keyframes move_up {
            0% {
                transform: translateY(100%);
            }
            50% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(100%);
            }
        }
    </style>
</head>
<body>
    {% block menu %}
    <div class="header">
        ...Header
    </div>
    {% endblock %}


    {% block conteudo %}
    <div class="container">
        <ul>
            <il>
                Página Inicial
            </il>
        </ul>
         <ul>
            <il>
                <a href="{% url "sobre" %}">Sobre</a>
            </il>
        </ul>
         <ul>
            <il>
                <a href="{% url "contato" %}">Contato</a>
            </il>
        </ul>
        <div class="amndando">
            Aqui está andando
        </div>
    </div>
    {% endblock %}


    {% block rodape %}
    <div class="footer">
        Rodapé
    </div>
    {% endblock %}
</body>

</html>