<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main-section {
            border: 2px solid black;
            max-width: 5em;
            display: flex;
            margin-left: 55em;margin-top: 22.5em;
        }
        div {
            flex: 1;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div class="main-section">
        <div>
            
        </div>
        <div>
            a
        </div>
    </div>
</body>
</html>